DATABASE_URL=

# AWS S3
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=

# Authentication
AUTH_SECRET=
AUTH_ACCESS_TOKEN_EXPIRES_IN=15m
AUTH_REFRESH_TOKEN_DAYS=7
CORS_ORIGIN=

# First SUPER_ADMIN seed
SEED_ADMIN_EMAIL=
SEED_ADMIN_NAME=
SEED_ADMIN_PASSWORD=